<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BPT</title>

    <!-- Include libraries and external CSS -->
    <script src="static/lib/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <!-- Local Includes -->
    <script type='text/javascript' src='static/scripts/beerpong-turnier.js'></script>

    <link rel="stylesheet" type="text/css" href="static/styles/myStyle.css"/>

</head>
<body ng-app="Mittwochs-Stammtisch" ng-cloak>
    <div ng-controller="beerpongController">
        <div class="center">
            <a href="/">HOME</a>
            <h1>Beerpongregelwerk</h1>
            <p>Mit den wichtigsten Bestimmung zu Aufbau, Regelwerk, Normen usw.</p>
            <br><br><br><br>
            <p>Textausgabe mit ausführlichem Sachverzeichnis</p>
            <p>und einer Einführung von den amtierenden Beerpongweltmeistern</p>
            <p>Noah Eckert und Daniel Vallelonga</p>
            <br><br>
            <p>Erste Auflage</p>
            <p>Stand: 09.10.2023</p>
            <br><br>
            <h2>Alphabetische Schnellübersicht</h2>
            <p>(Die fettgrdruckten Zahlen kennzeichnen die Ordnungsnummern,</p>
            <p>Die kursiven Zahlen die kennzeichnen die entsprechende Seitenzahl)</p>
            <br><br><br><br>

            <h2>Einführung</h2>
            <p>Von Noah Eckert und Daniel Vallelonga</p>
            <h2>I. Geschichte des Beerpongs</h2>
            <p>1. Das Prinzip des Beerpongs wurde zwischen 1950 und 1960 in den Vereinigten Staaten entwickelt.
                Der Entstehungsort ist das Dartmouth College, eine Privathochschule in New Hampshire.
                Der genaue Zeitpunkt kann nicht mehr rekonstruiert werden, jedoch behauptet der Geschichtsprofessor
                Jere Daniell, Beer Pong bereits im Jahre 1955 gespielt zu haben. Ein anderer Absolvent dieser
                Einrichtung, Bob Shirley, gibt an, dass die Spielidee beim Tischtennis entstand. Dabei sollen Zuschauer
                ihre Bierbecher auf der Tischtennisplatte abgestellt haben. Aus zufälligen Treffern in den Becher sei
                daraufhin der Spielgedanke entstanden. Das älteste vorhandene Foto von Beer Pong datiert jedoch
                lediglich von 1968 aus dem damaligen Collegejahrbuch. Gesichert ist jedoch, dass Beer Pong aus dem
                Tischtennis entstanden ist. </p>
            <p>2. In seiner Anfangszeit wurde es daher mit Tischtennisschlägern und lediglich einem Bier auf jeder
                Spielfeldseite gespielt. Ziel war es dabei, die gegenüberliegende Bierflasche zu treffen. Zu diesem
                Zeitpunkt wurde das Spiel als Beer Pong bezeichnet.</p>
            <p>Seine heutige Spielform entwickelte in den 1970er Jahren &#187;Delta Upsilon&#171;, als ein damaliger
                Schüler das Spiel von einer Reise mitbrachte, jedoch dabei die Ping-Pong-Schläger verlor. Um es dennoch
                spielen zu können, wurde der Ball einfach mit den Händen geworfen und das Spiel kurzerhand in
                &#187;Throw Ball&#171; umbenannt. Anders als der Name konnte sich das Spiel selbst bis heute
                durchsetzen.</p>
            <p>In den 1980er Jahren erlangte das Spiel durch den Konflikt zwischen den USA und dem Libanon Bekanntheit,
                da das Werfen der Bälle in die Becher mit den Bombenabwürfen der Amerikaner auf die libanesische
                Hauptstadt Beirut assoziiert werden konnte. Zusätzlich trug die Entwicklung und Verbreitung von
                Plastikbechern zu der rasanten Ausbreitung des Spiels in Amerika bei.</p>
            <p>Die eindeutige Herkunft des Namens Beirut konnte bis heute nicht festgestellt und belegt werden.
                Eine Theorie steht im direkten Zusammenhang mit dem Libanonkonflikt, wohingegen auch einige
                Privatpersonen diese Wortschöpfung ihr Eigen nennen, ohne dies jedoch belegen zu können.[7] In
                jedem Fall erhielt Beer Pong in den achtziger Jahren seinen zweiten Namen Beirut. Zumindest in den
                USA kann jedoch auf Grundlage einer Umfrage durch CollegeHumor aufgezeigt werden, dass der Begriff
                &#187;Beer Pong&#171; unter den über 40.000 Befragten deutlich populärer als &#187;Beirut&#171; ist.[8] Über die
                Begriffsverteilung gibt es in Deutschland keine Studien. Nimmt man jedoch die monatlichen Suchanfragen
                bei Google als Referenz, dann zeigt sich, dass auch hierzulande „Beer Pong“ populärer als &#187;Beirut&#171;
                zu sein scheint. Auch wenn die Begriffe Beer Pong und Beirut häufig synonym verwendet werden,
                bezeichnet Beirut genau genommen die Version des Spiels ohne Tischtennisschläger und Beer Pong die
                Variante mit Schlägern. Diese traditionelle Interpretation ist jedoch heutzutage nicht mehr als
                allgemeingültig zu betrachten, da das Spiel überwiegend ohne Schläger gespielt wird, der Begriff
                Beer Pong jedoch weiterverbreitet ist.</p>
            <p>Im Jahre 2013 war Beer Pong ein weltweiter Spaß- und Wettkampfsport, welcher beispielsweise in Amerika
                bereits eine World Series mit 50.000 $ Preisgeld hervorgebracht hat. Diese wurde im Jahr 2013 zum
                achten Mal in Las Vegas durchgeführt.[9] zusätzlich wird Beer Pong von Unternehmen vermarktet, unter
                anderem können individuelle Spielsets oder bedruckte Wurfbälle käuflich erworben werden. Außerdem
                finden viele Turniere in Bars, Universitäten und bei Privatveranstaltungen statt.</p>
            <p>Seit 2017 wird Beer Pong auch mit der olympischen Sportart Golf kombiniert. &#187;Beer Pong Golf&#171; stammt
                aus den Vereinigten Staaten und wurde durch eine Schwarmfinanzierung auf der US-amerikanischen
                Plattform Kickstarter populär.</p>
            <br><br>
            <p class="makeCenter"><i>I. Grundlagen</i></p>
            <br>
            <h2>1. Grundlagen für die Bundesrepublik Deutschland</h2>
            <br>
            <p class="makeCenter">Vom 22. August 2023</p>
            <br>
            <p class="makeCenter"><b>I. Spielvorbereitung</b></p>

            <p class="boldText">§ 1 (Teamgröße)</p>
            <p><b>(1)</b> Die Teamgröße beim Beerpong besteht meist aus 2 oder 3 Leuten. Vor Beginn des Spiels ist die
                gleiche Größe der Teams auf beiden Seiten sicherzustellen.</p>

            <p class="boldText">§ 2 (Normen)</p>
            <p><b>(1)</b> Essentiell für die richtige Spielerfahrung ist die Bereitstellung von einem Beerpongtisch
                der Marke &#187;Beerballer&#171; in Normgröße. Die Maße für den besagten Beerpongtisch betragen 69cm in der
                Höhe, 60cm in der Breite und 240cm in der Länge.</p>
            <p><b>(2)</b> Weitergehend ist auch das Vorliegen vom Normbällen unabdingbar. Diese sind staatlich
                geprüfte und anerkannte Tischtennisbälle. Pingpongbälle aus qualitativ schlechtem Material verringern
                den Spielspaß und das Wohlfühlgefühl der Spieler.</p>
            <p><b>(3)</b> Außerdem ist auch ein Auge auf die Becher zu werfen, welche beim Beerpong verwendet werden.
                Diese sollten mit den Herstellern der Marke &#187;Beerballer&#171; übereinstimmen, da die Qualität und
                Stabilität bedeutend sind. Als Standard werden jeweils 10 Becher pro Seite vorgeschrieben. Diese
                werden in die dafür vorgeschriebene Auskerbung platziert. Außerdem wird ein Becher aus Hygienegründen
                mit Wasser befüllt und ebenfalls an den vorgesehenen Platz gestellt.</p>

            <p class="boldText">§ 3 (Spielfeld)</p>
        </div>
    </div>
</body>
</html>