<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>

    <!-- Include libraries and external CSS -->
    <script src="static/lib/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <!-- Local Includes -->
    <script type='text/javascript' src='static/scripts/index.js'></script>

    <link rel="stylesheet" type="text/css" href="static/styles/myStyle.css"/>

</head>
<body ng-app="Mittwochs-Stammtisch" ng-cloak>
    <div ng-controller="indexController">
        <a href="/beerpong-turnier">BPT</a>
        <a href="/tournament-bracket">BRACKETS</a>
        <h1>Projekt BPT</h1>

        <br><br><br><br><br>

        <h1 id="countdownTimer"></h1>
        <br><br>
        <h2>Freitag, 21.06.2023 18:00:00</h2>

    </div>
</body>
</html>